.frame {
    background-color: #ffffff;
    box-shadow: 0px 0px 14px #c5bfbf40;
    height: 214px;
    left: 0;
    position: absolute;
    top: 0;
    background-color: rgb(254, 254, 254);
    width: 1440px;
  }
  
  .frame .overlap-group {
    height: 15px;
    left: 1104px;
    position: absolute;
    top: 166px;
    width: 264px;
  }
  
  .frame .vector {
    height: 2px;
    left: 14px;
    position: absolute;
    top: 6px;
    width: 250px;
  }
  
  .frame .img {
    height: 2px;
    left: 14px;
    position: absolute;
    top: 6px;
    width: 170px;
  }
  
  .frame .ellipse {
    background-color: #ffffff;
    border: 5px solid;
    border-color: #000000;
    border-radius: 7.5px;
    height: 15px;
    left: 0;
    position: absolute;
    top: 0;
    width: 15px;
  }
  
  .frame .div {
    background-color: #ffffff;
    border: 5px solid;
    border-color: #000000;
    border-radius: 7.5px;
    height: 15px;
    left: 170px;
    position: absolute;
    top: 0;
    width: 15px;
  }
  
  .frame .vector-2 {
    height: 48px;
    left: 385px;
    position: absolute;
    top: 140px;
    width: 2px;
  }
  
  .frame .vector-3 {
    height: 48px;
    left: 719px;
    position: absolute;
    top: 140px;
    width: 2px;
  }
  
  .frame .vector-4 {
    height: 48px;
    left: 1053px;
    position: absolute;
    top: 140px;
    width: 2px;
  }
  
  .frame .vector-5 {
    height: 20px;
    left: 63px;
    position: absolute;
    top: 155px;
    width: 20px;
  }
  
  .frame .text-wrapper {
    color: #686868;
    font-family: "Satoshi Variable-Medium", Helvetica;
    font-size: 16px;
    font-weight: 500;
    left: 109px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 154px;
  }
  
  .frame .location {
    height: 23px;
    left: 409px;
    position: absolute;
    top: 155px;
    width: 18px;
  }
  
  .frame .vector-6 {
    height: 18px;
    left: 750px;
    position: absolute;
    top: 155px;
    width: 20px;
  }
  
  .frame .text-wrapper-2 {
    color: #686868;
    font-family: "Satoshi Variable-Medium", Helvetica;
    font-size: 16px;
    font-weight: 500;
    left: 453px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 154px;
  }
  
  .frame .text-wrapper-3 {
    color: #686868;
    font-family: "Satoshi Variable-Medium", Helvetica;
    font-size: 16px;
    font-weight: 500;
    left: 794px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 154px;
  }
  
  .frame .hicon-linear-down {
    height: 24px !important;
    left: 659px !important;
    position: absolute !important;
    top: 156px !important;
    width: 24px !important;
  }
  
  .frame .hicon-linear-down-3 {
    height: 24px !important;
    left: 1000px !important;
    position: absolute !important;
    top: 156px !important;
    width: 24px !important;
  }
  
  .frame .text-wrapper-4 {
    color: #222222;
    font-family: "Satoshi Variable-Bold", Helvetica;
    font-size: 16px;
    font-weight: 700;
    left: 1098px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 127px;
  }
  
  .frame .text-wrapper-5 {
    color: #222222;
    font-family: "Satoshi Variable-Bold", Helvetica;
    font-size: 16px;
    font-weight: 700;
    left: 1274px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 127px;
  }
  