.outer-div{
    height: 1024px;
    position: relative;
    margin: 600px;
}
.div {
    background-color: #ffffff;
    border-radius: 16px;
    box-shadow: 0px 0px 24px #a9a9a940;
    height: 779px;
    left: 356px;
    overflow: hidden;
    position: relative;
    top: 117px;
    width: 1140px;
  }
  
  .div .text-wrapper-15 {
    padding-left: 135px;
    color: #222222;
    font-family: "Satoshi Variable-Bold", Helvetica;
    font-size: 24px;
    font-weight: 700;
    left: 311px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 29px;
  }
  
  .div .frame-33 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 6px;
    left: 40px;
    position: absolute;
    top: 121px;
    width: 376px;
  }
  
  .div .text-wrapper-16 {
    align-self: stretch;
    color: #222222;
    font-family: "Satoshi Variable-Bold", Helvetica;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1.00px;
    position: relative;
  }
  
  .div .frame-34 {
    align-self: stretch;
    border: 1px solid;
    border-color: #222222;
    border-radius: 10px;
    height: 58px;
    overflow: hidden;
    position: relative;
    width: 100%;
  }
  
  .div .text-wrapper-17 {
    color: #222222;
    font-family: "Satoshi Variable-Bold", Helvetica;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    /* left: 4px; */
    width: 100%;
    height: 49px;
    top: 2px;
    border: none;
  }
  
  .div .vector-7 {
    height: 22px;
    left: 158px;
    position: absolute;
    top: 18px;
    width: 2px;
  }
  
  .div .frame-35 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 6px;
    left: 710px;
    position: absolute;
    top: 121px;
    width: 376px;
  }
  
  .div .text-wrapper-18 {
    align-self: stretch;
    color: #636363;
    font-family: "Satoshi Variable-Bold", Helvetica;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1.00px;
    position: relative;
    
  }
  
  .div .frame-36 {
    align-self: stretch;
    border: 1px solid;
    border-color: #bcbcbc;
    border-radius: 10px;
    height: 58px;
    overflow: hidden;
    position: relative;
    width: 100%;
  }
  
  .div .text-wrapper-19 {
    color: #bcbcbc;
    font-family: "Satoshi Variable-Medium", Helvetica;
    font-size: 16px;
    font-weight: 500;
    left: 2px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 7px;
    width: 384px;
    height: 56px;
    top: 2px;
    border: none;
  }
  
  .div .frame-37 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 6px;
    left: 40px;
    position: absolute;
    top: 228px;
    width: 376px;
  }
  
  .div .vector-8 {
    height: 9px;
    left: 341px;
    position: absolute;
    top: 24px;
    width: 16px;
  }
  
  .div .frame-38 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 6px;
    left: 40px;
    position: absolute;
    top: 335px;
    width: 376px;
  }
  
  .div .frame-39 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 8px;
    position: relative;
  }
  
  .div .frame-40 {
    border: 1px solid;
    border-color: #bcbcbc;
    border-radius: 10px;
    height: 58px;
    overflow: hidden;
    position: relative;
    width: 183px;
  }
  
  .div .vector-9 {
    height: 16px;
    left: 15px;
    position: absolute;
    top: 21px;
    width: 16px;
  }
  
  .div .text-wrapper-20 {
    color: #bcbcbc;
    height:59px;
    font-family: "Satoshi Variable-Medium", Helvetica;
    font-size: 16px;
    font-weight: 500;
    left: 35px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 1px;
    border: none;
  }
  
  .div .group-2 {
    height: 202px;
    left: 40px;
    position: absolute;
    top: 442px;
    width: 770px;
  }
  
  .div .text-wrapper-21 {
    color: #636363;
    font-family: "Satoshi Variable-Bold", Helvetica;
    font-size: 20px;
    font-weight: 700;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 376px;
  }
  
  .div .frame-41 {
    border: 1px solid;
    border-color: #bcbcbc;
    border-radius: 10px;
    height: 169px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 33px;
    width: 768px;
  }
  
  .div .frame-42 {
    height: 22px;
    left: 744px;
    position: absolute;
    top: 146px;
    width: 22px;
  }
  
  .div .text-wrapper-22 {
    width: 770px;
    height: 168px;
    color: #121010;
    font-family: "Satoshi Variable-Medium", Helvetica;
    font-size: 16px;
    font-weight: 900;
    /* left: 16px; */
    letter-spacing: 1;
    line-height: normal;
    position: absolute;
    /* top: 1px; */
  }
  
  .div .frame-43 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 6px;
    left: 710px;
    position: absolute;
    top: 228px;
    width: 376px;
  }
  
  .div .frame-44 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 6px;
    left: 710px;
    position: absolute;
    top: 335px;
    width: 376px;
  }
  
  .div .frame-45 {
    align-self: stretch;
    height: 58px;
    position: relative;
    width: 100%;
  }
  .application-deadline{
    width: 378px;
    padding: 10px;
    height: 60px;
  }
  
  .div .frame-46 {
    align-items: center;
    background-color: #00aaff;
    border-radius: 10px;
    display: inline-flex;
    gap: 10px;
    justify-content: center;
    left: 885px;
    padding: 16px 60px;
    position: absolute;
    top: 683px;
  }
  
  .div .text-wrapper-23 {
    color: #ffffff;
    font-family: "Satoshi Variable-Bold", Helvetica;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1.00px;
    position: relative;
    width: fit-content;
  }
  
  .div .vector-10 {
    height: 10px;
    margin-right: -1.00px;
    position: relative;
    width: 12px;
  }
  
  .div .frame-47 {
    align-items: center;
    background-color: #ffffff;
    border: 1.5px solid;
    border-color: #222222;
    border-radius: 10px;
    box-shadow: 0px 0px 4px #00000040;
    display: inline-flex;
    gap: 10px;
    justify-content: center;
    left: 40px;
    padding: 16px 60px;
    position: absolute;
    top: 683px;
  }
  
  .div .text-wrapper-24 {
    color: #222222;
    font-family: "Satoshi Variable-Bold", Helvetica;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1.50px;
    position: relative;
    width: fit-content;
  }
  
  .div .vector-11 {
    height: 12px;
    margin-right: -1.00px;
    position: relative;
    width: 10px;
  }
  .frame-49 {
    background-color: #00000080;
    /* height: 1024px; */
    /* padding: 2rem; */
    /* border-radius: 8px; */
    left: 0;
    position: relative;
    top: 0;
    width: 100%;
    margin: auto;
    /* max-width: 00px; */
    
  }
  